.section-ticket{
    background-color: black;
    color: whitesmoke;
}

select{
    margin-bottom: 10px;
    width: 50%;
    height: 2rem;
    border: none;
}

select:hover{
    border: none;
}

.issue{
    width: 60%;
    height: 10rem;
    border: none;
}



/* Responsive Design */
@media (max-width: 768px) {
    .ticket-form-container {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select {
        font-size: 14px;
    }

    .save {
        font-size: 14px;
    }
}
