.about {
    padding: 30px;
    
    margin: auto;
    height: 30rem;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
}

.about h1 {
    text-align: center;
    color: #00b167;
    font-family: var(--second-font);
}

.about p {
    line-height: 1.6;
    font-family: var(--body-font);
}

.team-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.team-member p {
    color: #7c7979;
}

.team-member:hover {
    transform: scale(1.05);
}

.about h2{
    color: white;
}
