.contact_section{
  background-image: url(../../assets/img1.webp);
  background-position: center;
  background-size: cover;
 
  background-repeat: no-repeat;
  height: 100vh;
}
.section__title span{
  color: #4CAF50;
}
.contact__container {
    grid-template-columns: 5fr 8fr;
    padding-left: 4rem;
    padding-right: 4rem;

  }
  .contact__title {
    font-size: var(--h2-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
  }
  
  .contact__description {
    font-size: var(--small-font-size);
    line-height: 1.6;
    font-family: var(--second-font);
  }
  
  .contact__description,
  .contact__info .info__item {
    margin-bottom: 20px;
  }
  
  .contact__info .info__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-family: var(--second-font);
  }
  
  .contact__info .info__icon {
    color: #4CAF50;
    font-size: var(--h2-font-size);
  }
  
  .contact__info .info__title {
    font-size: var(--small-font-size);
    font-family: var(--second-font);
  }
  
  .contact__info .info_desc {
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
  }
  
  .contact__socials {
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 30px;
  }
  
  .contact__social-link {
    background-color: var(--container-color);
    color: var(--title-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: all 0.3s ease;
  }

  .contact__social-link:hover {
    background-color: black;
    color: var(--text-white);
  }
  
  .form__input-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
  
  .form__input-div {
    margin-bottom: 30px;
  }
  
  .form__control {
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    color: var(--title-color);
    font-family: var(--second-font);
    width: 100%;
    padding: 12px 24px;
    border-radius: 20px;
    font-size: var(--small-font-size);
    transition: all 0.3s ease;
  }
  
  .form__control:focus {
    border-color: var(--first-color);
  }
  
  .textarea {
    resize: none;
    height: 160px;
  }
  
  .contact__button-icon {
    font-size: var(--h3-font-size);
    line-height: 15px;
    padding: 10px;
  }
  
  .section {
    padding-block: 70px;
  }
  
  .section__title {
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    margin-bottom: 70px;
    color: white;
  }
  

  .button {
    display: inline-block;
    color: var(--body-color);
    border: 1px solid white;
    padding: 20px;
    border-radius: 35px;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    position: relative;
    overflow: hidden;
    color:white;
  }
  
  .button:hover {
    color: var(--text-white);
    background-color: black;
  } 
  
  .button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--body-color);
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover::before {
    transform: translateX(0);
  }