.col {
  background-image: url("../../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px; /* Add padding for mobile */
}

.title {
  padding: 30px;
  font-size: 2.5rem; /* Large title size */
}

.description {
  font-size: 1.2rem; /* Slightly larger description */
}

.btn-a {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--second-font);
  text-decoration: none; /* Remove underline for the link */
  border-radius: 5px; /* Add rounded corners */
}

/* Media Queries */
@media (max-width: 768px) {
  .title {
      font-size: 2rem; /* Adjust title size for mobile */
  }

  .description {
      font-size: 1rem; /* Adjust description size for mobile */
  }

  .btn-a {
      width: 60%; /* Full width button on mobile */
      margin: 10px 0; /* Margin adjustments */
  }
}
