body{
    padding: 0;
    margin: 0;
}

:root{
    --first-color: hsl(271, 76%, 53%);
  --title-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
  --text-white: #fff;
}

.button {
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--first-color);
    padding: 15px 70px 15px 35px;
    border-radius: 35px;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    position: relative;
    overflow: hidden;
  }
  
  .button:hover {
    color: var(--text-white);
  } 
  
  .button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--first-color);
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover::before {
    transform: translateX(0);
  }
  
  .button__icon {
    background-color: var(--first-color);
    position: absolute;
    inset-block: -2px;
    right: 0;
    width: 55px;
    border-radius: 50%;
    color: var(--text-white);
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 60px;
  }
  